## Searching and Sorting

In [1]:
numbers = [4, 2, 7, 1, 9, 5]

In [2]:
numbers.index(7)

2

In [3]:
if 7 in numbers:
    print("5 is in the list")

5 is in the list

In [4]:
sorted(numbers)

[1, 2, 4, 5, 7, 9]

In [5]:
numbers # hence after sorted() function numbers are not sorted permanently

[4, 2, 7, 1, 9, 5]

In [6]:
numbers.sort()

In [7]:
numbers # now, the numbers list is permanently sorted using list.sort() function

[1, 2, 4, 5, 7, 9]

In [8]:
sorted(numbers, reverse=True) # sort in reverse order

[9, 7, 5, 4, 2, 1]

## input() function

- input() function use to take the input from user

In [9]:
name = "Arpit"

print(f"My name is {name}")

My name is Arpit

In [10]:
name = input("Please enter your name: ")
print("Hello, " + name + "! Welcome to the program.")

Please enter your name: Arpit
Hello, Arpit! Welcome to the program.

#### String formatting in python

In [11]:
name = 'Alice'
age = 30

In [12]:
message = "My name is " + name + " and I am " + str(age) + " years old."
message

'My name is Alice and I am 30 years old.'

In [13]:
message = "My name is {} and I am {} years old.".format(name, age)
message

'My name is Alice and I am 30 years old.'

In [14]:
import numpy as np

arr = np.array([1, 0, 3])

newarr = arr.astype(bool)

print(newarr)
print(newarr.dtype)

[ True False  True]
bool

#### Inheritance

In [15]:
class Vehicle:
    def __init__(self, make, model):
        self.make  = make
        self.model = model
        
    def display_info(self):
        return f"This is a {self.make} {self.model}."

In [16]:
class car(Vehicle):
    def drive(self):
        return "car is driving"

In [17]:
class Motorcycle(Vehicle):
    def ride(self):
        return "Motorcycle is riding"

In [18]:
c = car("Toyota", "Camry")

In [19]:
c.drive()

'car is driving'

In [20]:
c.display_info()

'This is a Toyota Camry.'

In [21]:
m = Motorcycle("Harley-Davidson", "Sportster")
print(m.display_info())

This is a Harley-Davidson Sportster.

In [22]:
print(m.ride())

Motorcycle is riding

#### Access Modifiers - Public, Private(__, double underscore) and Protected(_, single underscore)

- private can only be used within the class

- protected can be used within class and it's sub-classes

In [23]:
class Person:
    def __init__(self, name, age):
        self.name = name           # public
        self._age = age            # protected
        self.__bank_balance = 0    # private
        
    def get_bankbalance(self):
        return self.__bank_balance
    
    def get_age(age):
        return age

In [24]:
employee = Person("Arpit", 28)

In [25]:
print(employee.name)

Arpit

In [26]:
print(employee.get_age())

<__main__.Person object at 0x000001EF0EC0ABD0>

In [27]:
print(employee.__bank_balance)

AttributeError: 'Person' object has no attribute '__bank_balance'

In [28]:
print(employee.get_bankbalance())

0

In [29]:
import pandas as pd

data = {
    'Category': ['A', 'A', 'B', 'B', 'A', 'B'],
    'Value': [10, 15, 20, 30, 25, 35]
}

df = pd.DataFrame(data)

In [30]:
df

  Category  Value
0        A     10
1        A     15
2        B     20
3        B     30
4        A     25
5        B     35

In [31]:
d = df.groupby('Category')['Value'].transform('mean')

In [32]:
df['Mean_Value'] = d

print(df)

  Category  Value  Mean_Value
0        A     10   16.666667
1        A     15   16.666667
2        B     20   28.333333
3        B     30   28.333333
4        A     25   16.666667
5        B     35   28.333333

#### Enumerate

In [33]:
my_list = ['apple', 'banana', 'orange', 'grape']

In [34]:
for index, value in enumerate(my_list):
    print(f'Index: {index}, Value: {value}')

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: orange
Index: 3, Value: grape

In [35]:
for index, value in enumerate(my_list, start=1):
    print(f'Index: {index}, Value: {value}')

Index: 1, Value: apple
Index: 2, Value: banana
Index: 3, Value: orange
Index: 4, Value: grape

In [36]:
import pandas as pd

data = {
    'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
    'Value': [1, 2, 2, 3, 3, 4]
}

df = pd.DataFrame(data)
print('Original DataFrame:')
print(df)

Original DataFrame:
  Category  Value
0        A      1
1        A      2
2        B      2
3        B      3
4        C      3
5        C      4

In [37]:
df_no_duplicates = df.drop_duplicates(subset='Value', keep='first')

In [38]:
df_no_duplicates

  Category  Value
0        A      1
1        A      2
3        B      3
5        C      4